*{
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    background: #141414;
}

.content_container{
    z-index:0;
    width: 1000px;
    height: 600px;
    margin: 100px auto;
    
    display: flex;
    justify-content: center;
}

.main_content_container{
    width:100%;
    max-width: 450px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.main_text{
    color: white;
    font-size: 24px;
    background-image:  linear-gradient(to right, #b721ff, #21d4fd);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
    

.main_form{
    padding: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size:20px;
}

.main_form label{
    color: white;
    opacity: 80%;
}

.main_form input{
    background-color: #141414;
    color: white;
    border: 1px orange solid;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
}

.main_form input:focus{
    outline: none;
    outline: 1px skyblue solid;
    background: rgba(255,255,255,0,2);  
}


#main_button{
    margin:0px auto;
    width: 200px;
    height: 40px;
    margin-top : 20px;
    border-radius:10px;

    position: relative;
    border: none;
    
    display: flex;
    background-image: linear-gradient(to right, red, pink);
    cursor:pointer;
}

#main_button span{
    margin: auto auto;
    z-index:2;
    font-size: 22px;
    color: white;
}


#main_button:after{
    position: absolute;
    content:"";
    top:0px;
    left:0px;
    background: purple;
    opacity: 80%;
    height: 100%;
    width: 0%;
    transition: all 0.5s;
    border-radius: 10px;
}

#main_button:hover:after{
    width: 100%;
}


.dividing_line{
    width: 20px;
}

.main_image_container{
    width: 100%;
    max-width: 450px;
    margin: 10px;
    display: flex;
}


.main_image img{
    width: 100%;
    margin-top: 50px;
}


