* {
    box-sizing : border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar{
    background: #141414;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size : 22px;
    position: sticky; 
    top: 0px;
    z-index:99;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    height: 80px;
    z-index:1;
    margin: 0px auto;
    padding: 0px 10px;
}


#navbar_logo{
    
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff0844 0%, #ffb199 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 30px;
    align-items: center;
    display: flex;
    text-decoration: none;
    padding: 10px;
}

.navbar_manu{
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
}

.navbar_item{
    height: 80px;
}

.navbar_links{
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:  center;
    padding: 0px 10px;
    text-decoration: none;
}

.navbar_btn{
    height: 80px;
    padding: 20px 10px;
}

.signup_button{
    background: #f77062;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
}

.signup_button:hover{
    background: #4837ff;
    transition: all 0.3s;
}

.navbar_links:hover{
    color: #f77062;
    transition: all 0.3s;
}


@media screen and (max-width: 600px){
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height:80px;
        z-index:1;
        max-width: 1300px;
        width: 100%;
        padding: 0;  
    }

    #navbar_logo{
        margin: auto 10px;
    }

    .navbar_manu{
        display: grid;
        width: 100%;
        height: 60hv;
        justify-content: center;
        position: absolute;
        z-index:-1;
        top:-500px;
        opacity: 0;
        font-size :24px;
        transition: all 0.5s;
    }

    .navbar_manu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        z-index: 99;
    }

    .navbar_toggle{
        width: 50px;
        height: 50px;
        padding: 10px;
        top: 15%;
        position: absolute;
        right: 5%;
        cursor: pointer;
    }

    .navbar_toggle .bar{
        width: 30px;   
        height: 3.5px;
        margin: 6.5px auto;
        background : white;
        transition: all 0.5s;
        display: block;
        border-radius: 2px;
    }

    .navbar_toggle.is-active .bar:nth-child(2){
        opacity: 0;
    }
    
    .navbar_toggle.is-active .bar:nth-child(1){
        transform: translateY(10px) rotate(45deg);
    }

    .navbar_toggle.is-active .bar:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
    }
    
}



/**------------------- main -----------------------**/

.main{
    background: #141414;
    height: 1000px;
}

.main_container{
    width: 100%;
    max-width: 1300px;
    height: 90hv;

    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    margin: 0px auto;
    padding: 20px;
}

.main_content h1{
    margin: 10px 0px;
    font-size: 50px;
    background-image: linear-gradient(to right, #ff0844, #ffb199 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main_content h2{
    margin: 10px 0px;
    font-size: 50px;
    background: linear-gradient(to right, #b721ff, #21d4fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main_content p{
    margin: 10px 0px;
    color: white;
    font-size: 24px
}


#main_btn{
    position:relative;
    margin-top: 30px;
    width: 160px;
    height: 44px;
    border: 0px;

    background-image: linear-gradient(#ff0844, #b721ff);
    display: flex;
    align-items: center;
    justify-content:center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

#main_btn p{
    color:white;
    font-size: 18px;
    z-index:2;
}


#main_btn:after{
    position: absolute;
    content: "";
    top:0px;
    left:0px;
    background: #4837ff;
    transition: all 0.3s;
    width:0%;
    height:100%;
    border-radius: 4px;
}

#main_btn:hover:after{
    width:100%;
}

.main_img_container{
    padding:10px;
}

#main_img{
    width:100%;
    height: 100%;
}




/* Mobile main page*/
@media screen and (max-width: 760px){
    .main_container{
        display: grid;
        grid-template-columns: 1fr;
    }

    .main_content{
        text-align: center;
        display: grid;
    }

    .main_btn_container{
        justify-content: center;
        display: flex;
    }

    .main_content h1{
        font-size:40px;
    }

    .main_content h2{
        font-size:40px;
    }

    .main_img_container{
        margin-top:60px;
    }


}